/* Variables */
$employeeListColor: #FFFFFF;
$employeeListLinkColor: #4B7BFF;

/* Employee list page */
.employee-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    height: 100vh;
    color: $employeeListColor;

    &__link {
        margin: 20px 0 20px 0;
        color: $employeeListLinkColor;
    }

    &__table {
        background-color: orange;

        &__row-header {
            background-color: #676767;

            &__header {
                padding: 10px;
                min-width: 100px;
            }
        }

        &__row-data {
            background-color: #3a3939;

            &__data {
                padding: 10px;
                text-align: center;
            }
        }
    }
}