/* Variables */
$employeeListColor: #FFFFFF;
$employeeListLinkColor: #4B7BFF;

/* Employee list page */
.employee-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 20px 0;
    height: 100vh;
    color: $employeeListColor;
    text-align: center;

    &__link {
        margin: 20px 0 20px 0;
        color: $employeeListLinkColor;
    }
}