/* Fonts */
@font-face {
    font-family: 'Roboto';
    src: local("Roboto-Regular.ttf"),
    url("./assets/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Variables */

$bodyBackground: #2C2C2C;

/* - General rules - */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    background-color: $bodyBackground;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}